$colors: (
    primary: #FF5A70,
    light-gray: #C4C4C4,
    gray: #EBEBEB,
    dark-gray: #898989,
    success: #36cf83,
    status-active-bg: #36CF822E,
    pending: #F29D42,
    status-pending-bg: #F29D424D,
);

$font-light: 'aileronlight';
$font-bold: 'aileronbold';
$font-heavy: 'aileronheavy';
$font-black: 'aileronblack';
$font-sizes: (
    xs: 10px,
    s: 12px,
    m: 14px,
    l: 16px,
    xl: 18px
);
$font-variations: (
    l: $font-light,
    b: $font-bold,
    h: $font-heavy,
    bl: $font-black
);

$svgs: (
    arrow-down: './images/arrow-down.svg',
    credit-card: './images/credit-card.svg',
    file-text: './images/file-text.svg',
    chat: './images/chat.svg',
    three-dots: './images/three-dots.svg',
    calendar: './images/calendar.svg',
    person: './images/person.svg',
    logo: './images/logo.svg',
    trash: './images/trash.svg',
    sign: './images/sign.svg',
    search: './images/search.svg'
)