$color-primary: #FF5A70;
$color-gray: #EBEBEB;
$color-dark-gray: #898989;
$color-status-active-txt: #36cf83;
$color-status-active-bg: #36CF822E;
$color-status-pending-txt: #F29D42;
$color-status-pending-bg: #F29D424D;

$font-light: 'aileronlight';
$font-bold: 'aileronbold';
$font-heavy: 'aileronheavy';
$font-black: 'aileronblack';

$svg-arrow-down: url('./images/arrow-down.svg');
$svg-credit-card: url('./images/credit-card.svg');
$svg-file-text: url('./images/file-text.svg');
$svg-chat: url('./images/chat.svg');
$svg-three-dots: url('./images/three-dots.svg');
$svg-calendar: url('./images/calendar.svg');
$svg-person: url('./images/person.svg');
$svg-logo: url('./images/logo.svg');
$svg-trash: url('./images/trash.svg');
$svg-sign: url('./images/sign.svg');