@use 'fonts';
@use 'variables';
@use 'mixins';

body {
    font-family: variables.$font-light;
}

p {
    margin: 0;
}

@each $name, $hex in variables.$colors {
    .bg-#{$name} {
        background-color: $hex;
    }

    .txt-#{$name} {
        color: $hex;
    }
}

@each $name, $size in variables.$font-sizes {

    .txt-#{$name} {
        font-size: $size;
    }

    @each $v-name, $v in variables.$font-variations {
        .txt-#{$name}-#{$v-name} {
            font-size: $size;
            font-family: $v;
        }
    }
}

@each $name, $path in variables.$svgs {

    .icon-#{$name}-light-s {
        @include mixins.svg-icon($path, 14px, 14px, map-get(variables.$colors, 'light'));
    }

    .icon-#{$name}-light-l {
        @include mixins.svg-icon($path, 24px, 24px, map-get(variables.$colors, 'light'));
    }

    .icon-#{$name}-dark-s {
        @include mixins.svg-icon($path, 14px, 14px, map-get(variables.$colors, 'dark'));
    }

    .icon-#{$name}-dark-l {
        @include mixins.svg-icon($path, 24px, 24px, map-get(variables.$colors, 'dark'));
    }

    .icon-#{$name}-primary-s {
        @include mixins.svg-icon($path, 14px, 14px, map-get(variables.$colors, 'primary'));
    }

    .icon-#{$name}-primary-l {
        @include mixins.svg-icon($path, 24px, 24px, map-get(variables.$colors, 'primary'));
    }

    .icon-#{$name}-dark-gray-s {
        @include mixins.svg-icon($path, 14px, 14px, map-get(variables.$colors, 'dark-gray'));
    }

    .icon-#{$name}-dark-gray-l {
        @include mixins.svg-icon($path, 24px, 24px, map-get(variables.$colors, 'dark-gray'));
    }
}

.normal-box {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border: none;
    padding: 14px 18px 12px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: calc(44px - (12px + 10px));
}

input:focus{
    outline: none !important;
    border: 1px solid map-get(variables.$colors, $key: 'primary');
}