@import 'variables';

#selectBoxSmall {
    cursor: pointer;

    img {
        margin-right: 8px;
        width: 22px;
    }

    select {
        border: none;
        width: 100%;
        cursor: pointer;
    }
}