<app-search-bar-small [placeholder]="'Contractor name'"></app-search-bar-small>
<app-select-box-small [placeholder]="'Default'" [options]="options" [icon]="'calendar'"></app-select-box-small>
<app-select-box-small [placeholder]="'Status'" [options]="options"></app-select-box-small>
<div style="height: 100px; width: 100%; display: flex;">
    <app-select-box-big [placeholder]="'Documents'" [icon]="'person'" [options]="options"></app-select-box-big>
    <app-select-box-big [placeholder]="'Contracts'" [icon]="'file-text'" [options]="options"></app-select-box-big>
    <app-select-box-big [placeholder]="'Payout'" [icon]="'credit-card'" [options]="options"></app-select-box-big>
</div>