@import 'variables';
@import 'mixins';

#nav {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

    @include media("<=tablet") {
        justify-content: space-between;

        #logo {
            margin-left: 60px;
        }

        #hamburgerMenu {
            margin-right: 60px;
        }
    }

    :not(#logo, #hamburgerMenu, #hamburgerMenu > *) {
        @include media("<=tablet") {
            display: none;
        }
    }

    #logo {
        width: 149px;
        height: 37px;
        background-image: url('../../assets/images/logo.svg');

        @include media("<=tablet") {
            width: 79px;
            height: 19px;
            background-size: cover;
        }
    }

    #hamburgerMenu {
        width: 29.57px;
        height: 32px;
        display: none;

        @include media("<=tablet") {
            display: unset;
        }

        div {
            width: 29.57px;
            height: 4.35px;
            border-radius: 5px;
        }

        :not(:last-child) {
            margin-bottom: 3.48px;
        }
    }

    #menu {
        display: flex;
        align-items: center;
        cursor: pointer;

        #hr {
            border-left: 1px solid map-get($map: $colors, $key: 'normal-gray');
            height: 45px;
            margin-right: 40px;
        }

        #profile-picture {
            background-image: url('../../assets/images/profile-picture.png');
            width: 65px;
            height: 65px;
            margin-right: 13px;
        }
    }
}