<div id="nav">
    <div id="logo"></div>
    <app-select-box-big class="documents" [placeholder]="'Documents'" [icon]="'person'" [options]="options"></app-select-box-big>
    <app-select-box-big class="contracts" [placeholder]="'Contracts'" [icon]="'file-text'" [options]="options"></app-select-box-big>
    <app-select-box-big class="payout" [placeholder]="'Payout'" [icon]="'credit-card'" [options]="options"></app-select-box-big>
    <app-select-box-big class="time" [placeholder]="'Time'" [icon]="'calendar'" [options]="options"></app-select-box-big>
    <div id="menu">
        <div id="hr"></div>
        <div id="profile-picture"></div>
        <div class="icon-arrow-down-dark-gray-s"></div>
    </div>
</div>
