@import 'variables';

#searchBarSmall {
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding: 0 0 0 20px;
    height: 43px;

    input {
        position: absolute;
        z-index: 1;
        border: none;
        width: calc(100% - 61px);
    }

    ::placeholder {
        color: map-get($colors, $key: 'dark-gray');
    }
}