<div id="selectBoxBig" [ngClass]="{'txt-primary active': active, 'txt-dark-gray': !active}">
    <div *ngIf="icon && active"
    [ngClass]="{
        'icon-credit-card-primary-s': icon == 'credit-card',
        'icon-file-text-primary-s': icon == 'file-text',
        'icon-person-primary-s': icon == 'person',
        'icon-sign-primary-s': icon == 'sign',
        'icon-trash-primary-s': icon == 'trash',
        'icon-calendar-primary-s': icon == 'calendar'
    }">
    </div>
    <div *ngIf="icon && !active"
    [ngClass]="{
        'icon-credit-card-dark-gray-s': icon == 'credit-card',
        'icon-file-text-dark-gray-s': icon == 'file-text',
        'icon-person-dark-gray-s': icon == 'person',
        'icon-sign-dark-gray-s': icon == 'sign',
        'icon-trash-dark-gray-s': icon == 'trash',
        'icon-calendar-dark-gray-s': icon == 'calendar'
    }">
    </div>
    <div class="txt-xl-b">{{ placeholder }}</div>
    <div id="arrow-down"
    [ngClass]="{'icon-arrow-down-primary-s': active, 'icon-arrow-down-dark-gray-s': !active}">
    </div>
</div>
