@import 'variables';

#statusBox {
    border-radius: 20px;
    width: 100%;
    
    .txt-xs-b {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 11px;

        div {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-right: 7px;
        }
    }
}

#statusBox.txt-success {
    background: rgba(map-get($colors, $key: 'success'), .18);

    .txt-xs-b div {
        background-color: map-get($colors, $key: 'success');
    }
}

#statusBox.txt-pending {
    background: rgba(map-get($colors, $key: 'pending'), .18); 

    .txt-xs-b div {
        background-color: map-get($colors, $key: 'pending');
    }
}