@import 'variables';

#statusBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 6px 11px;

    div {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-right: 7px;
    }
}

#statusBox.txt-success {
    background: rgba(map-get($colors, $key: 'success'), .18);

    div {
        background-color: map-get($colors, $key: 'success');
    }
}

#statusBox.txt-pending {
    background: rgba(map-get($colors, $key: 'pending'), .18); 

    div {
        background-color: map-get($colors, $key: 'pending');
    }
}