@import url('./assets/fonts/font.css');

$color-primary: #FF5A70;
$color-gray: #EBEBEB;
$color-status-active-txt: #36cf83;
$color-status-active-bg: #36CF822E;
$color-status-pending-txt: #F29D42;
$color-status-pending-bg: #F29D424D;

$font-light: 'aileronlight';
$font-bold: 'aileronbold';
$font-heavy: 'aileronheavy';
$font-black: 'aileronblack';

$svg-credit-card: url('./assets/images/credit-card.svg');
$svg-file-text: url('./assets/images/file-text.svg');
$svg-chat: url('./assets/images/chat.svg');
$svg-three-dots: url('./assets/images/three-dots.svg');
$svg-calendar: url('./assets/images/calendar.svg');
$svg-person: url('./assets/images/person.svg');
$svg-logo: url('./assets/images/logo.svg');
$svg-trash: url('./assets/images/trash.svg');
$svg-sign: url('./assets/images/sign.svg');